<<<<<<< HEAD
﻿
@{
    string[] adlar = {"Ahmet","Mehmet","Furkan","Yusuf","Nazlı" };
=======
﻿@{
    string[] adlar = { "Ali", "Murat", "Cemal", "Umay", "Sezen" };
>>>>>>> d1139366e9d3780fc402e9aa5385c186a6f3c8b5
    <ul>
        @{
            foreach (string ad in adlar)
            {
                <li>@ad</li>
            }
        }
    </ul>
}
