*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* width:100vw;
    height: 100vh; */
    background-color: grey;
    font-family: 'Segoe UI', sans-serif;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-image: url("https://picsum.photos/id/1073/1366/768"); */
    background-color: black;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
    height: 70px;
    /* background-color: aqua; */
    /* padding: 10px 30px; */
    /* opacity: 0.5; */
}

#logo{
    width: 30%;
}
#logo h1{
    font-size:40px;
    color:rgb(255, 255, 255);
}
.box{
    width: 20%;
    padding-bottom: 7px;
}
#search{
    width: 150px;
    height: 30px;
    transition: width 0.5s;
    border-radius: 5px;
    padding-left: 10px;
}

#search:focus{
    width: 90%;
}


nav{
    width: 50%;
    padding-bottom: 7px;
}

#menu ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
#menu ul li{
    display: block;
    background: linear-gradient(to bottom right, rgb(122, 245, 91),rgb(3, 141, 76));
    padding:5px 10px;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    color:white;
    transition: 100ms ease-in-out;
}

#menu ul li a{
    text-decoration: none;
    color:white;
    font-weight: bold;
}
#menu ul li:hover{
    background: linear-gradient(to bottom right, rgb(3, 141, 76),rgb(1, 27, 21)); 
    transform: translate(0px,2px);
}
#slider-container{
    height: 500px;
    width: 90%;
}
#slider{
    margin: 10px auto;
    /* width: 600px;
    height: 300px; */
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}


#control{
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#control a{
    text-decoration: none;
    color: white;
    background-color: cadetblue;
    padding:0px 10px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    width: 100px;
    text-align: center;
    border-radius: 5px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    width: 90%;
    border-radius: 10px;
    width: 90%;
    /* height: 80%; */
}
#intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    /* width: 500px; */
    /* background-color: blueviolet; */
    /* padding: 30px; */
    text-align: center;
    color: white;
}

#intro h1{
    font-size: 34px;
}
#intro p{
    font-size: 20px;
}
#intro button{
    font-size: 20px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
}
#todoContainer {
    padding: 12px;
    width: 100%;
    height: auto;
}
 
#newTaskBox {
    width: 100%;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 5px;
}
 
#newTaskHeader {
    width: 100%;
    padding: 15px;
    background: #F7F7F7;
    border-radius: 5px;
    margin-bottom:15px;
}


#newTaskBox {
    width: 100%;
    padding-bottom:15px;
    display: inline-block;
}
 
#newTaskTextBox {
    display: inline-block;
    width: 95%;
    height: 35px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .125);
    padding-left: 10px;
}
 
#newTaskButton {
    display: inline-block;
    width: 5%;
    height: 35px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .125);
    background: #007bff;
    color: white;
    position: absolute;
    font-size: 25px;
 
}
 
#newTaskButton:hover {
    cursor: pointer;
    background: #0069D9;
 
}
 
#taskListBox {
    width: 100%;
    margin: auto;
}
 
#listHeader {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .125);
    background: #F7F7F7;
    padding: 15px 20px 20px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
 
#deleteAllButton{
    float: right;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #dc3545;
    padding: 5px 10px;
    color: #dc3545;
}
 
#deleteAllButton:hover{
    background: #dc3545;
    color: white;
    cursor: pointer;
    transition: .3s all;
}
 
li{
    list-style: none;
    width: 100%;
    padding: 10px 20px 10px 15px;
    background: #F7F7F7;
    border: 1px solid rgba(0, 0, 0, .125);
}
 
i{
    float: right;
    color: gray;
}
 
i:hover{
    color: black;
    transition: .3s all;
    cursor: pointer;
}