<!DOCTYPE html>
<html>
<head>
    <title>Ana Sayfa</title>
</head>
<body>
    <h1>03_MVC_01</h1>
    <h2>Projesine Hoş Geldiniz</h2>
</body>
<<<<<<< HEAD
</html>
=======
</html>
>>>>>>> d1139366e9d3780fc402e9aa5385c186a6f3c8b5
