@using MobilyaShowRoom.Models

@{
    Product product = ViewBag.ResultProduct;
}

<div class="container d-flex justify-content-center mt-5">
    <div class="card text-center w-25">
        <div class="card-header">
            @product.Price TL
        </div>
        <div class="card-body">
            <h5 class="card-title">@product.ProductName</h5>
            <p class="card-text">@product.ProductDetail</p>
            <a href="@Url.ActionLink("Index","Product",new {id=product.ID})" class="btn btn-primary">Geri Dön</a>
        </div>
        <div class="card-footer text-muted">
            Stokta 13 adet kaldı.
        </div>
    </div>
</div>