@model Publisher
@{
    ViewData["Title"] = "Edit";
}
<h5 class="display-5 bg-warning w-100 p-3 text-white">Edit Publisher</h5>
<hr>
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-3">
            <div class="mb-3">
                <label asp-for="PublisherName" class="control-label">@Model.PublisherId)</label>
                <input type="hidden" asp-for="PublisherId">
                <label for="">Publisher's Name</label>
                <input asp-for="PublisherName" type="text" class="form-control">
                <label for="">Publisher's City</label>
                <input asp-for="PublisherCity" type="text" class="form-control">
                <label for="">Publisher's Mail</label>
                <input asp-for="PublisherMail" type="text" class="form-control">
                <input type="submit" value="Save Changes" class="btn btn-success mt-2">
        </div>
        
    </div>

</form>