@model List<UploadImageProject.Models.UploadedImage>
@{ 
    ViewData["Title"] = "Resim Yükleme Sayfası";
}
<h5 class="display-4">Resim Yükle</h5>
<hr />
<table class="table table-dark">
    <thead>
        <tr>
            <td>Resim</td>
            <td>Resim Adı</td>
            <td>Boyutu</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var image in Model)
        {
        <tr>
            <td>
                <img src="@image.ImageFullName" width="100" alt="Alternate Text" />
            </td>
            <td>@image.ImageName</td>
            <td>@image.ImageSize Kb</td>
        </tr>
        }

    </tbody>
</table>
<div class="row">
    <div class="col-md-12">
        <form asp-action="UploadImage" enctype="multipart/form-data">
            <div class="form-group">
                <label>Resim Seç</label>
                <input type="file" name="file" value="Resim Seç" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Gönder" class="btn btn-sm btn-primary" />
            </div>
        </form>
    </div>
</div>