@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="containerHome">
        <img src="https://storage.googleapis.com/website-production/uploads/2017/01/welcome-pages-1540x768.jpg" alt="">
        <h1 class="display-5  mt-6">WELCOME TO MY CODEFIRST PROJECT</h1>
        <p>DEAR VİSİTORS</p>
        <p>Thank you for visiting my page</p>
    </div>
    
</div>
