@model List<EF_Code.Models.Yayinevleri>
@{
    ViewData["Title"] = "Details";
}
<h1 class="display-4">Yayınevi Detayı</h1>
<hr>
<div class="row">
    <div class="col-sm-3">
        Yayınevi Id:
    </div>
    <div class="col-sm-5">
        @Model.Id
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        Kitap Türü:
    </div>
    <div class="col-sm-5">
        @Model.
    </div>
</div>
<a class="btn btn-primary" asp-action="Index">Kitap Türlerine Dön</a>