img{
    max-width: 100%;
    display: block;
    height: auto;
}
.myparagraph{
    font-size:2.5vw;
}
.box{
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    background-color: blue;
}

.box-container{
    background-color: darkgreen;
    display: inline-block;
}