body{
    margin: 0px;
    padding: 0px;
}
.kutu1{
    width: 200px;
    height: 200px;
    background-color: yellow;
    margin: 15px;
    padding: 15px;
    border: 5px solid red;
    float: left;
}
div{
    float: right;
}
