
<div class="text-center d-flex flex-column justify-content-center mt-5 p-5  ">
    <h1 class="text-warning mt-5  fw-bolder fst-italic fs-1 ">HOŞ GELDİNİZ</h1>
    <h4 class="text-success fs-3">Wissen Mobilya</h4>
    <p class="text-black-50 fs-5">Ev ve ofislerin vazgeçilmez mobilyacısı</p>
</div>