@model List<StudentRegister.Models.Entities.Student> 
@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-sm">
    <thead>
        <tr>
            <th>Students Id</th>
            <th>Students Name</th>
            <th>Lesson Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
        <tr>
            <td>@student.StudentId</td>
            <td>@student.StudentName</td>
        </tr>
            
        }
    </tbody>
</table>
