@model EF_CodeFirst.Models.Category
@{
    ViewData["Title"] = "Details";
}

<h5 class="display-5 bg-warning w-100 p-3 text-white">Detail İnformation</h1>
<hr>
<div class="row">
    <div class="col-sm-3">
        Category ID:
    </div>
    <div class="col-sm-5">
        @Model.CategoryId
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        Category Name:
    </div>
    <div class="col-sm-5">
        @Model.CategoryName
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        Category Description:
    </div>
    <div class="col-sm-5">
        @Model.CategoryDescription
    </div>
</div>
<a class="btn btn-primary mt-2" asp-action="Index">Return the Category List</a>