@model ResetPasswordModel
    <h6 class="display-4">Rest Password</h6>
    <form asp-controller="Account" asp-action="ResetPassword" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="text-danger" asp-validation-for="All"></div>
                <input type="hidden" asp-for="Token" />
                
                <div class="form-group row mt-2">
                    <label class="col-md-3 col-form-label">Password:</label>
                    <div class="col-md-9">
                        <input asp-for="Password" type="text" class="form-control" />
                    </div>
                </div>
                
                <div class="form-group row mt-2">
                    <label class="col-md-3 col-form-label">EMail:</label>
                    <div class="col-md-9">
                        <input asp-for="Email" type="text" class="form-control" />
                    </div>
                </div>

                <div class="form-group row mt-2">
                    <div class="col-md-9 offset-md-3">
                        <button type="submit" class="btn btn-primary">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </form>