@model EF_CodeFirst.Models.Author
@{
    ViewData["Title"] = "Details";
}

<h5 class="display-5 bg-warning w-100 p-3 text-white">Detail İnformation</h5>
<hr>
<div class="row">
    <div class="col-sm-3">
        Author ID:
    </div>
    <div class="col-sm-5">
        @Model.AuthorId
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        Author Name:
    </div>
    <div class="col-sm-5">
        @Model.AuthorName
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        Author Surname:
    </div>
    <div class="col-sm-5">
        @Model.AuthorSurname
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        Author's Date of Birth:
    </div>
    <div class="col-sm-5">
        @Model.AuthorDateOfBirth
    </div>
</div>
<a class="btn btn-primary mt-2" asp-action="Index">Return the Author List</a>