@model Author
@{
    ViewData["Title"] = "Edit";
}
<h5 class="display-5 bg-warning w-100 p-3 text-white">Edit Author</h5>
<hr>
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-3">
            <div class="mb-3">
                <label asp-for="AuthorName" class="control-label">@Model.AuthorId)</label>
                <input type="hidden" asp-for="AuthorId">
                <label for="">Author Name</label>
                <input asp-for="AuthorName" type="text" class="form-control">
                <label for="">Author Surname</label>
                <input asp-for="AuthorSurname" type="text" class="form-control">
                <label for="">Author's Date of Birth</label>
                <input asp-for="AuthorDateOfBirth" type="text" class="form-control">
                <input type="submit" value="Save Changes" class="btn btn-success mt-2">
        </div>
        
    </div>

</form>